<h1>Mails#new</h1>
<%= render 'shared/smail_error_messages' %>
<%= form_for(@smail, :html => {:class => 'form-signin text-center'}) do |f| %>
  <%= f.label :message, class: 'sr-only' %>
  <%= f.text_area :message, class: 'form-control', placeholder: 'Message body' %><br>
  <div class="form-group">
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <input type="text" name="smail[scheduled_at]" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD hh:mm:ss'
        });
    });
</script>